:root {
  font-family: Roboto, sans-serif;
  line-height: 23.44px;
  font-weight: 400;

  color-scheme: light dark;
  color: #121212;
  background-color: #E4E4E4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
